<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Expense Tracker</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/all.css' />
  </head>
  <body>

    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
      <div class='container-fluid'>
        <a class='navbar-brand' href='#'><strong>Expense Tracker</strong></a>
        <a class='btn btn-outline-success' href='#'>Login</a>
      </div>
    </nav>

    {{{body}}}
    <script src='/js/popper.js'></script>
    <script src='/js/bootstrap.js'></script>
    <script src='/js/all.js'></script>
  </body>
</html>