<div class='row mt-5'>
  <div class='col-md-6 m-auto'>
    <div class='card card-body'>
      {{> message}}
      <h1 class='text-center mt-3'>忘記密碼</h1>
      <span class='text-center mt-3'>*請輸入驗證碼。</span>
      <form action='/users/resetPassword' method='POST'>
        <div class='form-group mb-3'>
          <label for='password'>新密碼</label>
          <input type='password' id='password' name='password' class='form-control' placeholder='請輸入新密碼' value="{{password}}" required/>
          <label for='confirmPassword'>確認新密碼</label>
          <input type='password' id='confirmPassword' name='confirmPassword' class='form-control' placeholder='請輸入確認新密碼' value="{{confirmPassword}}" required/>
          <label for='verifyCode'>驗證碼</label>
          <input type='text' id='verifyCode' name='verifyCode' class='form-control' placeholder='請輸入驗證碼' required/>
          <input type="hidden" id="emailMatch" name="emailMatch" value="{{emailMatch}}">
          <input type="hidden" id="verifiedCode" name="verifiedCode" value="{{verifiedCode}}">
        </div>
        <div class='d-grid gap-2 col-3 mx-auto'>
          <button type='submit' class='btn btn-warning btn-block'>確認</button>
        </div>
      </form>
    </div>
  </div>
</div>